.container {
    /* max-width: 36rem; */
    /* padding: 0 1rem; */
    /* margin: 3rem 1rem 2rem 6rem; */
    /* padding-top: 4rem; */
}

.headerContainer {
    background-color: #b6bdb2;
    height:100vh;
    top:0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 3rem 1rem 2rem 6rem; */
    margin: 0rem 1rem 2rem 6rem;
    max-width: 40rem;
    padding-top:8rem;
}

.backToHome {
    margin: 3rem 0 0;
}

.autotype {
    font-size: 1.2rem;
    color: #354F52;
}

.autotype h1{
    font-weight: 1000;
    margin-bottom: -30px;
}

.autotype h2 {
    font-weight: 500;
    margin-top: 50px;
}

.autotypeEffect {
    display: inline-block;
    margin-left: 8px;
    font-style: italic;
    color: #84A98C;
}

.horizontalLine {
    border:none;
    border-top: 2px solid #000;
    margin: 20px 0;
    width: 100%;
}

.mywork {
    display: flex;
    flex-direction: column;
}