/* navbar.module.css */
.navbar {
    position: fixed;
    top: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    background-color: #CAD2C5;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: right;
    list-style-type: none;
}