/* navbar.module.css */
.navcontainer {
    top: 0;
    /* padding: 3vh 15vh 1vh 15vh; */
    /* padding-bottom: 1vh; */
    border-bottom: solid;
    border-color: #BBCBD9;
    position: fixed;
    width: 100vw;
    background-color: hsla(214, 30%, 40%, 0.7);
    backdrop-filter: blur(5px);
}

.navbar {
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
    padding-left: 3vh;
    padding-right: 3vh;
    /* border-radius: 10px; */
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoName img {
    width: 56px;
}

.name {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 800;
    padding: 5px 20px;
    color: #BBCBD9;
}

.items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 800;
    
}

.item {
    padding: 5px 20px;
}

.item a {
    color: #BBCBD9;
}

.itemLink {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
