.a {
    color: black;
}

.headerBox {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align:center;
}

.h1 {
    color: black;
}

.mywork {
    color: black;
    align-items: center;
}

.projectList {
    /* display: flex; */
    align-items: center;
    width: 80vh;
    height: 80vh;
    border-radius: 20px;
}

.projectItemBox {
    width: 100%;
    height: 100%;
    border: var(--border);
    border-radius: 11px;
}

.projectItem img {
    
    border-radius: 11px;
    border-color: #2F3E46;
}

/* .projectItem img:hover {
    transform: scale(0.95);
} */