@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Anek Gujarati", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  /* background-color: #051D3C; */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.5s ease, color 0.5s ease, background-image 0.5s ease;
}

* {
  box-sizing: border-box;
}

a {
  color: #354F52;
  text-decoration: none;
}



img {
  max-width: 100%;
  display: block;
}

:root {
  --background-color: #718A35;
  --text-color: #1b1b1e;
  --primary-color: #2a9d8f;
  --header-bg: #f6f5f2;
  /* --bg-image: url('/images/Day Background.png'); */
  --card-bg: rgba(255, 255, 255, 0.08);
  --card-border: rgba(255, 255, 255, 0.1);
}

[data-theme='dark'] {
  --background-color: #051D3C;
  --text-color: #f1f6f9;
  --primary-color: #84a98c;
  /* --header-bg: #1b263b; */
  /* --bg-image: url('/images/Night Background.png'); */
  /* --card-bg: rgba(255, 255, 255, 0.07);
  --card-border: rgba(255, 255, 255, 0.15); */
}